/*
  * "Dodd.Css" -Version 1.0.0-beta.1~- Css.
  * Lighten Colors scss file.
  * The MIT License.
  * Copyright hana.
  * https://github.com/hana-mignon.
*/  

.dodd-lighten{
  background-color: lighten($bg-color,$bg-amount);
  background-image:linear-gradient(to bottom, lighten($bg-color,$bg-amount) $amount, transparent $amount),linear-gradient(to right, lighten($bg-dodd , $bg-amount) $amount, transparent $amount);
  background-size: $bg-size $bg-size;
}
