/*
  * "Dodd.Css" -Version 1.0.0-beta.1~- Css.
  * Variables scss file.
  * The MIT License.
  * Copyright hana.
  * https://github.com/hana-mignon.
*/  

$bg-color: aliceblue;
$bg-dodd: pink;
$bg-size: 20px;
$bg-amount: 8%;  
$amount: 50%;
